In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2022-10-17 18:20:55--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  --.-KB/s    in 0.04s

2022-10-17 18:20:56 (31.5 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [297]:
df = pd.read_csv('housing.csv')

In [298]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [299]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [300]:
columns = ['latitude',
            'longitude',
            'housing_median_age',
            'total_rooms',
            'total_bedrooms',
            'population',
            'households',
            'median_income',
            'median_house_value',
            'ocean_proximity']

In [301]:
df = df[columns]

In [302]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [303]:
df = df.fillna(0)

In [304]:
df.isnull().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [305]:
df_ref = df.copy()

In [306]:
df.median_house_value.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [307]:
df.median_house_value = np.log(df.median_house_value)

In [308]:
df.median_house_value.head()

0    13.022764
1    12.789684
2    12.771671
3    12.740517
4    12.743151
Name: median_house_value, dtype: float64

In [309]:
len(df)

20640

In [310]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 1)
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 1)
len(df_train), len(df_val), len(df_test)

(12384, 4128, 4128)

In [311]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [312]:
y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values

In [313]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

In [314]:
df_train.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,34.63,-118.18,19.0,3562.0,606.0,1677.0,578.0,4.1573,INLAND
1,34.69,-116.90,10.0,337.0,102.0,108.0,50.0,0.4999,INLAND
2,33.78,-118.26,27.0,1672.0,491.0,1723.0,462.0,2.0458,NEAR OCEAN
3,34.17,-117.33,5.0,4718.0,1140.0,2564.0,1056.0,2.9877,INLAND
4,35.35,-119.02,42.0,1239.0,251.0,776.0,272.0,1.9830,INLAND

# Question 1

In [315]:
train_dicts = df_train.to_dict(orient = 'records')
dv = DictVectorizer(sparse= False)
X_train = dv.fit_transform(train_dicts)
dt = DecisionTreeRegressor(max_depth=1)
dt.fit(X_train, y_train)
val_dicts = df_val.to_dict(orient = 'records')
X_val = dv.transform(val_dicts)
y_pred = dt.predict(X_val)

In [316]:
y_pred

array([12.30674152, 12.30674152, 11.61332336, ..., 12.30674152,
       12.30674152, 12.30674152])

In [322]:
# from sklearn.metrics import accuracy_score
# accuracy_score(y_val, y_pred)

In [266]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import roc_auc_score

In [320]:
# dt = DecisionTreeClassifier(max_depth=1)
# dt.fit(X_train, y_train)

In [249]:
# dv = DictVectorizer(sparse=False)

# train_dict = df_train.to_dict(orient='records')
# X_train = dv.fit_transform(train_dict)

# dt = DecisionTreeRegressor(max_depth=1)
# dt.fit(X_train, y_train)

In [250]:
# dt = DecisionTreeClassifier(max_depth=1)
# dt.fit(X_train, y_train)

In [251]:
# dv = DictVectorizer(sparse=False)
# X_train = dv.fit_transform(train_dicts)

In [252]:
# val_dicts = df_val.to_dict(orient='records')
# X_val = dv.transform(val_dicts)

In [253]:
# y_pred = dt.predict_proba(X_val)[:, 0]

In [254]:
# pd.DataFrame(y_val).sum()

In [255]:
# roc_auc_score(y_val, y_pred)

In [256]:
# df_train.columns

In [257]:
# importance = dt.feature_importances_
# importance_df = pd.DataFrame(importance,index= df_train.columns, columns=["Importance"])

In [258]:
# df_train.columns

In [259]:
# importance_df

# Question 2

In [286]:
from sklearn.ensemble import RandomForestClassifier

In [321]:
# rf = RandomForestClassifier(n_estimators=10,
#                             random_state=1,
#                             n_jobs=-1)
# rf.fit(X_train, y_train)